<div class="container mt-3">
  <h3>My Supplies for Sale</h3>
  <% if @supplies.count == 0 %>
    <div class="alert alert-warning">
      You don't have any supplies for sale yet!
    </div>
  <% else %>
    <div class="row d-flex justify-content-center">
      <% @supplies.each do |supply| %>
        <% if supply.photo.attached? %>
            <div class="card-category col-lg-3 col-md-6 m-3 p-3" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path supply.photo.key %>')">
              <div class="card-text">
                <%= link_to supply.name, supply_path(supply) %>
                <p><%= supply.offers.count %> offers</p>
              </div>
            </div>
          <% else %>
            <div class="card-category col-lg-3 col-md-6 m-3 p-3" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= supply.img_url.start_with?('http') ? supply.img_url : asset_path(supply.img_url) %>')">
              <div class="card-text">
                <%= link_to supply.name, supply_path(supply) %>
                <p><%= supply.offers.count %> offers</p>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  <% end %>


  <h3 class="mb-3">My Pending Offers</h3>
  <% if @offers.count == 0 %>
    <div class="alert alert-warning">
      You haven't made any offers yet!
    </div>
  <% else %>
    <div class="row d-flex justify-content-center">
    <% @offers.each do |offer| %>

      <div class="card-offer mb-3">
      <% if offer.photo.attached? %>

      <% else %>
      <% end %>

      <div class="card-offer-infos">
        <div class="offer-head">
          <h2><%= offer.supply.name %></h2>
          <p class="offer-status"><%= offer.status %></p>
        </div>
        <h3>OFFER DETAILS:</h3>
        <p><%= offer.details %></p>
        <h3>QTY:</h3>
        <p><%= offer.amount %></p>
      </div>
    </div>

    <% end %>
    </div>
  <% end %>
</div>
