<div class="banner mb-4">
  <div>
    <h2>Quicky get your supplies</h2>
<p><strong>"Road to success is always under Construction"</strong></p>
</div>
</div>



<div class="container mt-1">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="What supply are you looking for?" aria-label="Supply name" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-warning" type="button">Button</button>
    </div>
  </div>
    <h3>Latest Supplies </h3>

  <div class="cards">
    <% @latest_supplies.each do |supply|%>
    <div class="card-home">
        <% if supply.photo.attached? %>
          <div class="card-home-image">
            <%= cl_image_tag supply.photo.key%>
          </div>
        <% else %>
            <img src=<%= supply.img_url.start_with?('http') ? supply.img_url : asset_path(supply.img_url) %> class="card-home-image">
        <% end %>
      <div class="card-home-body">
        <div class="card-home-content">
          <h5 class="card-home-title"><%= supply.name%></h5>
          <p class="card-home-text"><%= supply.description %></small></p>
        </div>
        <%= link_to "View Details", supply_path(supply), class: "btn btn-warning w-100 text-white"%>

    </div>
    </div>
    <% end %>


  </div>
</div>
