<h1>Supplies</h1>
<ul>
<% @supplies.each do |supply| %>
<li>
<p><%= supply.name %> - <%= supply.description %> - <%= supply.price %> - <%= supply.quantity %> POSTED BY <%= supply.user.first_name %></p>
<img style="width: 300px" src="<%= supply.img_url %>" alt="">
<button><%= link_to "View details", supply_path(supply) %></button>
</li>
<% end %>
</ul>

<%= link_to "Add Supply", new_supply_path %>
