<h1>Supplies</h1>
<ul>
<% @supplies.each do |supply| %>

<li>
<p><%= supply.name %> - <%= supply.description %> - <%= supply.price %> - <%= supply.quantity %> POSTED BY <%= supply.user.first_name %></p>
<% if supply.photo.attached? %>
  <%= cl_image_tag supply.photo.key, width: 300, height: 300 %>
<% else %>
  <img src=<%= supply.img_url %> alt="">
<% end %>
<button><%= link_to "View details", supply_path(supply) %></button>
</li>
<% end %>
</ul>
<%= link_to "Add Supply", new_supply_path %>
