<div style="width: 100%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="container">

<div class="container mt-1">
  <div class="row justify-content-center">
    <div class="col-sm-12 my-3">
      <%= form_with url: supplies_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Type a keyword" %>
        <%= submit_tag "Search", name: "", class: "btn btn-lg btn-warning text-white" %>
      <% end %>
    </div>
  </div>

  <% if @supplies.any? %>
    <div class="cards">
      <% @supplies.each do |supply| %>
        <div class="card-home">
          <% if supply.photo.attached? %>
            <div class="card-home-image">
              <%= cl_image_tag supply.photo.key %>
            </div>
          <% else %>
            <img src=<%= supply.img_url.start_with?('http') ? supply.img_url : asset_path(supply.img_url) %> class="card-home-image">
          <% end %>
          <div class="card-home-body">
            <div class="card-home-content">
              <h5 class="card-home-title"><%= supply.name %></h5>
              <p class="card-home-text"><%= supply.description %></small></p>
            </div>
            <%= link_to "View Details", supply_path(supply), class: "btn btn-warning w-100 text-white" %>
          </div>
        </div>
      <% end %>
    </div>

  <% elsif params[:query].present? %>
    <div class="alert alert-info">
      No results found for "<%= params[:query] %>"
    </div>
  <% else %>
    <h3>Latest Supplies</h3>
    <div class="cards">
      <% @latest_supplies.each do |supply| %>
        <div class="card-home">
          <% if supply.photo.attached? %>
            <div class="card-home-image">
              <%= cl_image_tag supply.photo.key %>
            </div>
          <% else %>
            <img src=<%= supply.img_url.start_with?('http') ? supply.img_url : asset_path(supply.img_url) %> class="card-home-image">
          <% end %>
          <div class="card-home-body">
            <div class="card-home-content">
              <h5 class="card-home-title"><%= supply.name %></h5>
              <p class="card-home-text"><%= supply.description %></small></p>
            </div>
            <%= link_to "View Details", supply_path(supply), class: "btn btn-warning w-100 text-white" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>


  </div>
</div>
