<h1><%= @supply.name %></h1>
<h2>Posted by <%= @supply.user.first_name %></h2>
<img style="width: 300px" src="<%= @supply.img_url %>" alt="">
<p><%= @supply.description %></p>
<p>Price: <%= @supply.price %></p>
<p>Quantity: <%= @supply.quantity %></p>
