<div class="container">


  <div class="card-show-container mt-3">
    <div class="card-show mb-3 w-60">
      <% if @supply.photo.attached? %>
        <div class="card-show-image">
          <%= cl_image_tag @supply.photo.key%>
        </div>
      <% else %>
          <img src=<%= @supply.img_url.start_with?('http') ? @supply.img_url : asset_path(@supply.img_url) %> class="card-show-image">
      <% end %>
        <div class="card-show-body">
          <div class="card-show-content">
            <div class="card-show-head d-flex justify-content-between mb-2">
            <div class="title-address">
              <h5 class="card-show-title"><%= @supply.name%></h5>
              <p><%= @supply.address %></p>
            </div>

              <p class="badge-qty text-center">QTY: <%= @supply.quantity %></p>
            </div>
            <p class="card-show-text"><%= @supply.description %></p>
          </div>
          <div class="card-user">
            <p>posted by <%= @supply.user.first_name + " " + @supply.user.last_name %></p>
            <% if @supply.user.photo.attached? %>
              <div class="avatar-show">
                <%= cl_image_tag @supply.user.photo.key, height: 30, width: 30, crop: :fill %>
              </div>
            <% else %>
              <img class="avatar-show" src=<%= @supply.user.avatar_url.start_with?('http') ? @supply.user.avatar_url : asset_path(@supply.user.avatar_url) %>/>
            <% end %>
        </div>
        </div>
    </div>
  </div>
</div>
  <% if @user != @supply.user %>
  <%= render "offers/form", supply: @supply, offer: @offer %>
  <% end %>
  <% if @user === @supply.user %>
    <div class="container">
      <h3>Offers on your Supply</h3>
      <% if @supply.offers.where(status: "pending").count == 0 %>
        <div class="alert alert-warning">
          You don't have any pending offers on this supply!
        </div>
      <% end %>
      <% if @supply.offers.count != 0 %>
        <% @supply.offers.each do |offer| %>
          <% if offer.status == "pending" %>
          <h4>Pending</h4>
          <div class="card-request mb-3 p-3">
            <div class="text-request">
            <div class="user-request d-flex">
              <% if offer.user.photo.attached? %>
                <div class="avatar-request">
                  <%= cl_image_tag offer.user.photo.key, height: 30, width: 30, crop: :fill %>
                </div>
              <% else %>
                <img class="avatar-request" src=<%= offer.user.avatar_url.start_with?('http') ? offer.user.avatar_url : asset_path(offer.user.avatar_url) %>/>
              <% end %>
              <%= offer.user.first_name + " " + offer.user.last_name + " (" + offer.user.email + ")"%>
            </div>
            <div class="details-request">
              <p><%= offer.details %></p>
              <p>QTY: <%= offer.amount %></p>
            </div>
            </div>
            <div class="request-buttons">
              <p><%= link_to "Accept", accept_offer_path(offer), data: {turbo_method: :patch}, class: "btn btn-success text-white" %></p>
              <%= link_to "Decline", decline_offer_path(offer), data: {turbo_method: :patch}, class: "btn btn-danger text-white" %>
            </div>
          </div>
          <% elsif offer.status == "accepted" %>
            <h4>Accepted</h4>
            <div class="alert alert-secondary">
            You have accepted <%= offer.user.first_name %>'s offer! Contact them at (<%= offer.user.email %>) to arrange pick-up and payment!
            </div>
          <% end %>


        <% end %>
      <% end %>
      </div>
    <% end %>
